
#footer{
   /* width: 100vw; */
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #181818;
   height: 3.5rem;
}

.copy{
   font-weight: 200;
   font-size: 0.9rem;
   color: white;
   
}